.main-bg{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card{
    display: flex;
    flex: 1;
    padding: 0px;
}
.layout-side-bg{
    width: 18vw;
}

@media (max-width:768px){
    .layout-side-bg{
        display: none;
    }
}